Repository ilangurudev/donna: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter frontend eslint --fix, pnpm --filter frontend prettier --write, cd backend && uv run ruff check --fix, cd backend && uv run ruff format

Add futuristic glowy orb voice recorder with backend integration
  .gitignore
  backend/src/donna/main.py
  frontend/app/app/page.tsx
  frontend/app/globals.css
  frontend/components/voice-recorder.tsx
  frontend/lib/api-client.ts
  frontend/lib/supabase/server.ts
Due: pnpm --filter frontend eslint --fix, pnpm --filter frontend prettier --write, cd backend && uv run ruff check --fix, cd backend && uv run ruff format

Add API client and hooks for user authentication and health checks
  frontend/lib/api-client.ts
  frontend/lib/api/client.ts
  frontend/lib/api/hooks.ts
  frontend/lib/supabase/client.ts
  frontend/lib/supabase/middleware.ts
  frontend/lib/utils.ts
Due: pnpm --filter frontend eslint --fix, pnpm --filter frontend prettier --write

Enhance glowy orb with continuous animations and remove text UI
  frontend/app/globals.css
  frontend/components/voice-recorder.tsx
Due: pnpm --filter frontend eslint --fix, pnpm --filter frontend prettier --write

Update AGENTS.md with voice capture feature documentation
  AGENTS.md
Due: none

Fix pre-commit hook failures for type-check and Python linting
  .lintstagedrc.json
  .pre-commit-config.yaml
  AGENTS.md
  DEV-SETUP.md
  backend/AGENTS.md
  backend/CLAUDE.md
  backend/src/donna/auth.py
  frontend/AGENTS.md
  frontend/__tests__/components/providers/query-provider.test.tsx
  frontend/__tests__/components/user-info.test.tsx
  frontend/__tests__/components/voice-recorder.test.tsx
  frontend/__tests__/example.test.tsx
  frontend/__tests__/lib/api-client.test.ts
  frontend/__tests__/lib/api/client.test.ts
  frontend/__tests__/lib/api/hooks.test.tsx
  frontend/__tests__/utils/mock-media-devices.ts
  frontend/__tests__/utils/mock-supabase.ts
  frontend/__tests__/utils/test-utils.tsx
  frontend/components/AGENTS.md
  frontend/components/CLAUDE.md
  frontend/e2e/auth.spec.ts
  frontend/e2e/example.spec.ts
  frontend/e2e/voice-recording.spec.ts
  frontend/mocks/handlers.ts
  frontend/vitest.config.ts
  frontend/vitest.setup.ts
Due: pnpm --filter frontend eslint --fix, pnpm --filter frontend prettier --write, cd backend && uv run ruff check --fix, cd backend && uv run ruff format

Implement radical glowy orb UI for voice recording
  frontend/__tests__/components/glowy-orb.test.tsx
  frontend/app/app/page.tsx
  frontend/app/globals.css
  frontend/app/login/page.tsx
  frontend/components/AGENTS.md
  frontend/components/glowy-orb.tsx
  frontend/e2e/voice-recording.spec.ts
  frontend/package-lock.json
Due: pnpm --filter frontend eslint --fix, pnpm --filter frontend prettier --write

Remove obsolete voice-recorder and user-info components
  frontend/__tests__/components/user-info.test.tsx
  frontend/__tests__/components/voice-recorder.test.tsx
  frontend/components/user-info.tsx
  frontend/components/voice-recorder.tsx
Due: pnpm --filter frontend eslint --fix, pnpm --filter frontend prettier --write

Add comprehensive testing documentation for frontend
  frontend/__tests__/AGENTS.md
  frontend/__tests__/TESTS-TUTORIAL.md
Due: pnpm --filter frontend prettier --write

Add personalized multilingual greeting above voice orb
  frontend/app/app/page.tsx
  frontend/components/voice-recorder.tsx
Due: pnpm --filter frontend eslint --fix, pnpm --filter frontend prettier --write

Add personalized greeting and instructions to voice UI
  frontend/app/app/page.tsx
  frontend/components/glowy-orb.tsx
Due: pnpm --filter frontend eslint --fix, pnpm --filter frontend prettier --write

Adjust greeting position to be higher on screen
  frontend/components/glowy-orb.tsx
Due: pnpm --filter frontend eslint --fix, pnpm --filter frontend prettier --write

Refactor greeting selection logic in GlowyOrb component
  frontend/components/glowy-orb.tsx
Due: pnpm --filter frontend eslint --fix, pnpm --filter frontend prettier --write

Add CLAUDE.md documentation for AI agents testing reference
  frontend/__tests__/CLAUDE.md
Due: pnpm --filter frontend prettier --write

Add comprehensive greeting tests for GlowyOrb and improve test documentation
  frontend/__tests__/AGENTS.md
  frontend/__tests__/TESTS-TUTORIAL.md
  frontend/__tests__/components/glowy-orb.test.tsx
Due: pnpm --filter frontend eslint --fix, pnpm --filter frontend prettier --write

Enhance GlowyOrb recording functionality
  frontend/__tests__/components/glowy-orb.test.tsx
  frontend/components/glowy-orb.tsx
Due: pnpm --filter frontend eslint --fix, pnpm --filter frontend prettier --write

Path conditions:
  pnpm --filter frontend eslint --fix: any of: frontend/**/*.{js,jsx,ts,tsx}
  pnpm --filter frontend prettier --write: (any of: frontend/**/*.{js,jsx,ts,tsx}) or (any of: frontend/**/*.{json,css,md})
  cd backend && uv run ruff check --fix: any of: backend/**/*.py
  cd backend && uv run ruff format: any of: backend/**/*.py
